html{
    height: 100%;
    scroll-behavior: smooth;
}
html,body{
    padding: 0;
    margin: 0;
}
body{
    background-color: black !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
*{
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}
.ikons .ikon a{
	display: flex;
	margin: 15px;
	list-style: none;
	color: white;
	font-size: 25px !important;
    text-decoration: none;
}
.ikons .ikon li{
	color: white !important;
	list-style: none;
    text-decoration: none;
}
.ikons .ikon i{
    text-decoration: none;
}
.ali{
	text-align: center !important;
}
.form-control{
	/* width: 500px !important; */
	text-align: center;
	border: 2px solid #234145 !important;
}
.col-11{
    height: 150px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-block: 20px !important;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 200px;

}
.col-11 img{
    width: 100px;
}
.uruns .button2{
    background-color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
    display: flex;
    padding-top: 0;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
}
.uruns .button1{
    background-color: green;
    width: 30px;
    height: 30px;
    display: flex;
    padding-top: 0;
    padding-bottom: 5px;
    border: none;
    border-radius: 10px;
}
.urunsayisi{
    width: 50px;
    height: 100%;
    margin: 0;
    padding-bottom: 6px;
}
.odemeyegec{
    border: none;
    padding: 4px;
    background-color: #ECDCDB;
    border-radius: 4px;
}
.odemeyegec:hover{
    background-color: #234145;
    color: black;
}
.dell:hover{
    background-color: rgb(125, 5, 5);
    color: red;
}
.dell{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.a1,.a2,.a3{
    border: none;
    background: none;
    color: white;
}
footer{
	background-color: #ECDCDB;
}
footer ul li{
	color: black;
}
footer img{
	width: 180px;
}
footer .row h3{
	font-size: 25px;
	font-weight: bold;
	color: black;
}

@media screen and (max-width:600px) {
    .toplamfiyat small{
        font-size: 15px !important;
    }
    .urunfiyati small{
        font-size: 12px !important;
    }
}
@media screen and (max-width:575px) {
    .search{
        margin-top: 20px;
    }
}
@media screen and (max-width:530px) {
    .urunadeti button{
        position: relative;
        margin-left: 10px;
    }
    .urunadeti button b{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .urunadeti input{
        margin-bottom: 0px;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
}
@media screen and (max-width:473px) {
    .col-11{
        height: 200px;
        border-radius: 5px;
    }
}
@media screen and (max-width:568px) {
    .toplamfiyat input{
        display: none;
    }
}
@media screen and (max-width:410px) {
    .toplamfiyat small{
        font-size: 13px !important;
    }
    .urunfiyati small{
        font-size: 10px !important;
    }
    .urunadeti input{
        width: 30px;
        height: 20px;
        margin-left: 5px;
    }
    .urunadeti button{
        width: 20px;
        height: 20px;
    }
    .urunadeti button b{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .toplamfiyat{
        width: 51.97px;
    }
}
