{% load static %}
<!-- As a link -->
<nav class="navbar ikons bg-black">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">celikemirr6161@gmail.com</a>
    <ul class="nav-list bg-black text-white d-flex ikon">
      <li class="nav-items">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="nav-items">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
      </li>
      <li class="nav-items">
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </li>
      <li class="nav-items">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li class="nav-items">
        <a href="#"><i class="fa-brands fa-tumblr"></i></a>
      </li>
    </ul>
  </div>
</nav>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="{% static 'logo.jpg' %}" alt="logo" style="width: 110px" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hakkımızda</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="#">{{request.user}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'olustur' %}">Ürün Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/user/giris/">Kayıt Ol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/giris2/">Giriş Yap</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="/son/"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Beğenilenler
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Favoriler</a></li>
            <li><a class="dropdown-item" href="#">En çok satanlar..</a></li>
            <li><a class="dropdown-item" href="#">İndirimdekiler</a></li>
          </ul>
        </li>
      </ul>
      <form method="GET" class="d-flex m-auto" role="search">
        <input
          value="{{search}}"
          name="search"
          class="form-control me-2"
          type="search"
          placeholder="Aradığınız ürün.."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <i class="fa-solid fa-magnifying-glass border-0"></i>
        </button>
      </form>
      <li class="nav-item list-unstyled">
        <a href="/sepet/" class="text-decoration-none text-black ms-3"
          >Sepetim <i class="fa-solid fa-bag-shopping text-danger"></i
        ></a>
        <a href="{% url 'form' %}" class="text-decoration-none text-black ms-4"
          >Bize Ulaşın<i class="fa-solid fa-star text-danger"></i
        ></a>
      </li>
    </div>
  </div>
</nav>
